<section class="footer-section">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-4">
          <div class="mb-4 text-center">
            <h3 class="text-uppercase ">Location</h3>
            <p class="mb-2">2215 John Daniel Drive</p>
            <p>Clark, MO 65243</p>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="mb-4 text-center">
            <h3 class="text-uppercase  mb-3">Around the Web</h3>
            <div class="icons d-flex gap-3 justify-content-center align-items-center">
              <i class="fa-brands fa-facebook fa-2x"></i>
              <i class="fa-brands fa-twitter fa-2x"></i>
              <i class="fa-brands fa-linkedin-in fa-2x"></i>
              <i class="fa-solid fa-globe fa-2x"></i>
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="mb-4 text-center">
            <h3 class="text-uppercase ">About Freelancer</h3>
            <p>
              Freelance is a free-to-use, licensed Bootstrap theme created by Route.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer text-center py-3">
      <p class="mb-0">Copyright © Your Website 2021</p>
    </div>
  </section>
