<section>
    <div class="container d-flex flex-column justify-content-center align-items-center p-3">
        <img src="/imageboy.svg" alt="image of a boy" class="w-25 mb-4 mt-4">
        <h1 class="text-white fw-bold">START FRAMEWORK</h1>
        <div class=" d-flex align-items-center justify-content-center mt-3">
          <div class="line bg-white me-3"></div>
          <i class="fa-solid fa-star "></i>
          <div class="line bg-white mx-3"></div>
        </div>
        <p class="text-white mt-3 mb-4">Graphic Artist - Web Designer - Illustrator</p>
      </div>
</section>
